pip~=25.0.1
emoji~=2.14.1
attrs~=25.1.0
wheel~=0.45.1
cryptography~=44.0.1
pillow~=10.4.0
jinja2~=3.1.6
setuptools~=70.0.0
packaging~=24.2
zipp~=3.20.2
Cython~=3.0.12
requests~=2.32.3
openpyxl~=3.1.5
rich~=13.9.4
urllib3~=2.2.3
tqdm~=4.67.1
PyAutoGUI~=0.9.54
pyperclip~=1.9.0
selenium~=4.27.1
ruamel.yaml~=0.18.10